<div class="container text-center">
  <h1 class="text-center mt-5">Todo List</h1>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingDescription"
      [(ngModel)]="newElement.description"
      placeholder
    />
    <label for="floatingDescription">Description</label>
  </div>
  <select
    class="form-select mb-3"
    aria-label="Default select example"
    [(ngModel)]="newElement.priority"
  >
    <option selected disabled>Priority</option>
    <option value="1">Low</option>
    <option value="2">Mid</option>
    <option value="3">High</option>
  </select>
  <button (click)="addElement()" class="btn btn-primary mb-3" type="submit" *ngIf="newElement.description !== ''">
    Add
  </button>

  <hr>

  <div class="card p-1 mb-3" *ngFor="let todolist of todoListArray; index as i">
    <div class="d-flex justify-content-between">
      <h2>{{ i + 1 }} - {{ todolist.description }}</h2>
      <button
        type="button"
        class="btn-close mt-1"
        aria-label="Close"
        (click)="terminateElement(i)"
      ></button>
    </div>
    <div [ngSwitch]="todolist.priority">
      <p class="low-priority" *ngSwitchCase="1">Low</p>
      <p class="mid-priority" *ngSwitchCase="2">Mid</p>
      <p class="high-priority" *ngSwitchCase="3">High</p>
    </div>
  </div>
</div>

<footer class="container text-center mt-5 text-bg-light p-3">
  Made with ❤️ by <a href="https://github.com/zonarolo">@zonarolo</a> in
  <span>{{ name }}</span>
</footer>
