body {
  font-family: Lato;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
}

.low-priority {
  background-color: yellow;
  border-radius: 16px;
}

.mid-priority {
  background-color: lightgreen;
  border-radius: 16px;
}

.high-priority {
  background-color: red;
  border-radius: 16px;
}

footer { 
  border-radius: 6px;
}

footer a {
  text-decoration: none;
  transition: all .3s ease;
}

footer a:hover {
  font-weight: 600;
  font-size: 1.2rem;
  transition: all .3s ease;
}

footer > span {
  color: red;
  text-decoration: underline;
}
